page-contact {
    .ititle{
        margin-top:0.5rem;
        margin-left:1rem;
        height: 4rem;
        .ion2{
            left: 4rem;
            top:1.5rem;
            position: relative;
            color:rgba(0,0,0,0.8);
            font-size: 2.5rem;
        }
        .search{
            position: absolute;
            width: 25rem;
            margin-top: 1rem;
            margin-left: 1.2rem;
            height: 3rem;
            text-align: center;
            -moz-border-radius: 11px;
            -khtml-border-radius: 11px;
            -webkit-border-radius: 11px;
            border: none;
            border-radius: 15px;
            background-color: rgba(0,0,0,0.1);
        }
    }
    .left{
        float: left;
        margin-top: 1rem;
        margin-left: 0rem;
        width: 25%;
        border: #D1D0CE solid 1px;
        .fast{
            border-bottom: #D1D0CE solid 1px;
            height:40px;
            line-height: 40px;
            text-align: center;
            background:#157DEC;
            color: aliceblue;
        }
        .course{
            border-bottom: #D1D0CE solid 1px;
            height:42px;
            line-height: 42px;
            //color: aliceblue;
            //background-color:  #157DEC;
            text-align: center;
        }
    }
    .right{
        float:right;
        width: 70%;
        margin-top: 1rem;
        margin-right: 0.5rem;
        .right1{
            border:#D1D0CE solid 1px;
            margin-right: 1.2rem;
            width: 246px;
            height:40px;
            line-height: 40px;
            text-align: center;
            background:#157DEC;
            color: aliceblue;
            border-radius: 6px;
        }
        .right2{
            float: left;
            position: relative;
            .detil{
                float: left;
                margin: 0.5rem 1.2rem 0.3rem 1.8%;
                width: 112px;
                border:#D1D0CE solid 1px;
                height:32px;
                line-height: 32px;
                text-align: center;
                border-radius: 6px;
            }
        }
    }
}
